/* Global Layout Set-up */
* { 
    box-sizing: border-box;
    font-family:  'Roboto', sans-serif;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  
  header {
    text-align: center;
    line-height: 1.5;
    background-size: cover;
    overflow: hidden;
    padding-top: 60px;
    margin-left: 10vw;
  }

  form, h4, main {
    margin-left: 10vw;
  }

  li {
      text-decoration: none;
  }

  a {
      text-decoration: none;
      color: white;
  }

  
  
    main p {
      line-height: 1.6em;
    }

    .wrap {
      min-height: calc(100vh - 50px);
    }
  
    footer {
      width: 100vw;
      background: black;
      min-height: 30px;
      padding: 20px;
      position: fixed;
      text-align: center;
      color: white;
      font-size: .8em;
    }
  
  
    h3 {
        color: maroon;
        letter-spacing: 2px;
    }
    
    #payment-total {
      display: none;
    }

    #input {
      border: none;
      font-size: larger;
      font-weight: bold;
      color: maroon;
    }

    /* Styles for larger screens */
@media screen and (min-width: 720px) {

    .main-nav {
      width: 100vw;
      background: black;
      min-height: 30px;
      padding: 10px;
      position: fixed;
      text-align: center;
  }
  
  .nav {
      display: flex;
      justify-content: space-around;
      font-weight: 700;
      list-style-type: none;
      margin: 0 auto;
      padding: 0;
    }
  
    .nav .name {
      color: white;
    }
    .nav li {
      padding: 5px 10px 10px 10px;
    }
    .nav a {
      transition: all .5s;
    }
    .nav a:hover {
      color: white
    }

    .nav {
      max-width: 1200px;
    }
  
    .nav .name {
      display: block;
      margin-right: auto;
      color: white;
    }

    a:hover {
      color:red;
  }
}